<p>This is a Sinatra web interface for BiodataFinder, please keep in mind that this project is in a very alpha state: use it at your risk.</p>
<p><b>BiodataFinder <%= $Version %>,  Copyright (C) 2014  Alessandro Bonfanti</b></p>
<p>
	This program comes with ABSOLUTELY NO WARRANTY;<br>
	This is free software, and you are welcome to redistribute it under certain conditions.<br>
	See <a href="http://www.gnu.org/licenses/gpl.html" title="GNU_GPLv3">GNU GPLv3</a> licence for details.
</p>