<!doctype html>
<html lang="en">
	<head>
		<title><%= @title  || "Biodatafinder" %></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/styles.css">
	</head>	
	<body>
		<header>
			<h1>Biodatafinder</h1>
			<%= erb :nav %>
		</header>	
		<section>
			<%= yield %>
		</section>	
	</body>		
</html>			

