<h3>Your settings has been successfully saved!</h3>
<b>Default index: </b><p><%= @params[:def_index] %></p>
<b>Default output format: </b><p><%= @params[:def_out] %></p>
<b>Max number of results: </b><p><%= @params[:nres] %></p>
<b>Permits wildcards?: </b><p><%= (@params[:wildcards] == 'true') ? 'Yes' : 'No' %></p>