<h2>BDF Options</h2>
<form method="GET" action="/options/s">
	<div style="text-align: left;">	
		<br>
		<label for="out"><h4>Default Output Format</h4></label>
		<br>
	    <input type=radio name="def_out" value="inline" checked>&nbsp;Inline
	    <br>
	    <input type=radio name="def_out" value="table">&nbsp;Table
	    <br>
	    <input type=radio name="def_out" value="json">&nbsp;JSON
	    <br>
	    <input type=radio name="def_out" value="pretty_json">&nbsp;Pretty JSON
	    <label for="nres"><h4>Max number of results</h4></label>
	    <label>5-100
			<input type="range" name="nres" id="nres" min="5" step="1" max="100" value="10" />
		</label>
	    <label for="out"><h4>Permits wildcards?</h4></label>
	    <input name="wildcards" type="checkbox" value="true" checked="checked"/>
	    <hr width="50%" align="left">
	    <input type="submit" value="Save!">
	    <hr width="50%" align="left">
	</div>.	
</form>	
