<h3>Your settings has been successfully saved!</h3>
<b>Default index: </b><p><%= request.cookies['def_idx'] %></p>
<b>Default output format: </b><p><%= request.cookies['def_out'] %></p>
<b>Max number of results: </b><p><%= request.cookies['nres'] %></p>
<b>Permits wildcards?: </b><p><%= (request.cookies['wildcards'] == 'true') ? 'Yes' : 'No' %></p>