<h2>Welcome in the alpha stage BDF web interface for searching!</h2>
<form method="GET" action="/search/q">
	<div style="text-align: center;">
	    <input type="search" name="src" value="tss*" size=50>
	    <input type="submit" value="Search!">
	    <hr width="50%">
	    <label for="index">Index:</label>
	    <input type="text" name="idx" value="a10dic">
	    <input type=radio name="out" value="table" checked>&nbsp;Inline
	    <input type=radio name="out" value="json">&nbsp;JSON
	    <input type=radio name="out" value="pretty_json">&nbsp;Pretty JSON
	    <hr width="50%">
	</div>.	
</form>	
