$red: #903;
$black: #444;
$white: #fff;
$main-font: Liberation Sans, sans-serif;
$mono-font: Liberation Mono;
$art-font: Diavlo, serif;

body {
	font-family: $main-font;
}

h1 {
	font-family: $art-font;
	color: $red;
	font: 24px/1 $main-font;
}

header h1 {
	font-size: 40px;
	line-height: 80px;
	background: transparent url(/images/logo.png) 0 0 no-repeat;
	padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow) {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		background: $background;
		overflow: hidden;
	}
	li {
		float: left;
	}
	a {
		text-decoration: none;
		display: block;
		padding: 8px;
		background: $background;
		color: $color;
		&:hover {
			background: darken($background, 20%);
		}
	}
}

nav {
	@include tabs ($background: $black, $color: $white);
	font-weight: bold;
}

p {
	font: 14px/1.4 $main-font;
}

h2 {
	font: 18px/1.4 $main-font;
	font-weight: bold;
	text-align: center;
}

h3 {
	font: 16px/1.4 $main-font;
	font-weight: bold;
}

table {
	border-style: hidden;
	border-collapse: separate;
	text-align: center;
	border-spacing: 10px;
}

td {
	border-style: hidden;
	margin: 50px;
}
th {
	border-bottom: 1px;
	border-bottom-style: solid;
	border-left-style: hidden;
	border-right-style: hidden;
	border-top-style: none;
	
	
}
caption {
	font: 12px/1.4 $main-font;
	text-align: left;
	margin-bottom: 20px;
	
}
